<ul class="coursetabs-links">
    {{#tabs}}
    <li>
        <a href="{{url}}" data-tab="{{tabid}}">
            <img src="{{icon}}" alt="" data-bs-toggle="tab" class="icon"> {{title}}
        </a>
    </li>
    {{/tabs}}
</ul>